body{
    background-color: lightgrey
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#778899;
}
li{
    float: left;
    margin-top:7px;
}
a{
    display: block;
    padding:10px;
    color: black;
    text-align: center;
    text-decoration: none;
}
li:hover{
    background-color: lightseagreen;
    color:white;
    font-weight: bold;
}
.topNav{    

}
.topRight{
    float: right;
}
.bottomNav{
    position:absolute;
    bottom: 0;
    width: 100%;
}
.bottomRight{
    float: right;
    display:block;
    margin-bottom: 0;
}
.middleSection{
    display:block;
    text-align: center;
    height:500px;
    padding: 10px;
}

.gImg {
    padding: 10px;
    margin-top:150px;
}
.imglink{
    height: 120px;
    width: 330px;
}
.searchBarDiv{
    padding:10px;
    margin-top:20px;
}
.searchText{
    text-align: center;
    font-size:18px;
    width: 50%;
    border-radius: 10px;
    height:25px;
}
::placeholder{
    text-align: center;
}
form{;
    padding: 10px;
    height: 50px;
}
.buttons{
    padding: 10px;
}
.searchButton{
    border-color:black;
    height:30px;
    width: 160px;
    border-radius: 20px;
}
.luckyButton{
    border-color:orange;
    height:30px;
    width: 160px;
    border-radius: 20px;
}
.signin{
    margin:7px;
    padding: 0;
    border-color: darkgrey;
    background-color: white;
    font-weight: bold;
    border-radius: 12px;
}
.signin:hover{
    border-color:grey ;
}