body{
    background-color: #8b0000;
    padding: 0;
    margin: 0;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightskyblue;
}
li{
    float: left;
}
a{
    display: block;
    padding:10px;
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
a:hover{
    background-color: lightseagreen;
    color:white;
    font-weight: bold;
}
.topRight{
    float: right;
}
.bottomRight{
    float: right;
}
.middleSection{
    background-color:yellow;
    height:100%;
    padding: 10px;
}

.gImg {
    background-color: gainsboro;
    padding: 10px;
}
.searchBarDiv{
    background-color: greenyellow;
    padding:10px;
}
.searchText{
    width: 100%;
}
form{
    background-color:cyan;
}
.buttons{
    padding: 10px;
}
.searchButton{
    border-color:black;
}
.luckyButton{
    border-color:orange;
}